<div class="container" style="margin-left: 50px; margin-top: 50px">
  <div class="card">
    <div class="card-body">
      <div class="card-title">WHY WE ARE?</div>
      <p class="card-text">Since its inception Cluster IT Solutions Pvt Ltd has been effectively substantiating the
        ever rising needs of technical support in the social and business scenario. Cluster ITis successfully paving
        its way through the fields of Programming and Engineering acting as a full proof educational facilitator thus
        consistently delivering the demand of industry ready professionals.

        Cluster IT has always been in the quest of building a technical edifice for the students with its underlying
        values and core competencies in technical excellence, quality training and innovative concepts.</p>
    </div>
  </div>
</div>
