<nav class="navbar navbar-expand-lg ">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/ngEdu">ngEdu</a>
              
            </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Contact Us</a>
      </li>
    </ul>
</nav>