<div class="container">
  <div class="row">
    <label for='roleSelect'>Please select registration type: </label>&nbsp;
    <select [(ngModel)]="selectedRole" (change)="onRoleSlected($event)">
         <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
    </select>
  </div>
  <br>
  <hr>
  <div class="row" id="graduates" *ngIf="selectedRole == 1">
      <h4>Sign up as Graduate by providing below details</h4><br>
      <h6>Already a member? <a href="http://localhost:4200/login">Sign in to EduC</a></h6><br>
    <form #abc="ngForm" (ngSubmit)="onSubmit()" class="col-md-12">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <div class="form-group col-sm-4">
              <label for="">First Name</label>
              <input type="text " class="form-control" name="firstname" id="1">
            </div>
            <div class="form-group col-sm-4">
              <label for="">Last Name</label>
              <input type="text " class="form-control" name="lastname" id="2">
            </div>
            <div class="form-group col-sm-4">
              <label for="">Institution/University</label>
              <input type="text " class="form-control" name="institution" id="3">
            </div>
            <div class="form-group col-sm-6">
              <label for="">Email-Id</label>
              <input type="text" class="form-control" name="emailid" id="4">
            </div>
            <div class="form-group col-sm-6" >
              <label for="">Phone Number</label>
              <input type="text " class="form-control" name="phonenumber" id="5">
            </div>
            <div class="form-group">
              <label for="">Password</label>
              <input type="password " class="form-control col-10" name="password" id="6">
            </div>
            <div class="form-group">
              <label for="">Confirm Password</label>
              <input type="text" class="form-control col-10" name="confirmpassword" id="7">
            </div>
            <div class="form-group col-sm-2">
             <button class="btn btn-primary" type="submit"  [disabled]="!abc.valid">Register</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="row" id="recruiters" *ngIf="selectedRole == 2">
      <h4>Sign up as Recruitment Agency by providing below details</h4><br>
      <h6>Already a member? <a href="http://localhost:4200/login">Sign in to EduC</a></h6><br>
    <form #abc="ngForm" (ngSubmit)="onSubmit()">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <div class="form-group col-sm-4">
              <label for="">Name</label>
              <input type="text" class="form-control" name="orgname" id="1">
            </div>
            <div class="form-group col-sm-4">
              <label for="">Email-Id</label>
              <input type="text" class="form-control" name="emailid" id="2">
            </div>
            <div class="form-group col-sm-4">
              <label for="">Phone Number</label>
              <input type="text" class="form-control" name="phonenumber" id="3">
            </div>
            <div class="form-group col-sm-6">
              <label for="">Password</label>
              <input type="text" class="form-control" name="password" id="4">
            </div>
            <div class="form-group col-sm-6">
              <label for="">Confirm Password</label>
              <input type="text" class="form-control" name="confirmpassword" id="5">
            </div>
            <div class="form-group col-sm-2">
              <button class="btn btn-primary" type="submit" [disabled]="!abc.valid">Register</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="row" id="institutions" *ngIf="selectedRole == 3">
      <h4>Sign up as an Academic Institution by providing below details</h4><br>
      <h6>Already a member? <a href="http://localhost:4200/login">Sign in to EduC</a></h6><br>
    <form #abc="ngForm" (ngSubmit)="onSubmit()">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <div class="form-group col-sm-4">
              <label for="">Name of University/Code</label>
              <input type="text" class="form-control" name="institutionname" id="1">
            </div>
            <div class="form-group col-sm-4">
              <label for="">Official MailId</label>
              <input type="text" class="form-control" name="offemailid" id="2">
            </div>
            <div class="form-group col-sm-4">
              <label for="">Phone Number</label>
              <input type="text" class="form-control" name="institutionphone" id="3">
            </div>
            <div class="form-group col-sm-6">
              <label for="">Password</label>
              <input type="password" class="form-control" name="password" id="4">
            </div>
            <div class="form-group col-sm-6">
              <label for="">Confirm Password</label>
              <input type="text" class="form-control" name="confirmpassword" id="5">
            </div>
            <div class="form-group col-sm-2">
              <button class="btn btn-primary" type="submit"  [disabled]="!abc.valid">Register</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

