<div class="content">
  <div>
      
  </div>
  <div>
    <label>Select file to upload to IPFS: </label>
  </div>
  <div>
      <input type="file" id="file" (change)="onFileSelected($event)" />
      <button type="button" (click)="upload()">Upload </button>
  </div>
  <ng-progress
    [positionUsing]="'marginLeft'"
    [direction]="'leftToRightIncreased'"
    [color]="'#4286f4'"
    [trickleSpeed]="500" 
    [thick]="true" 
    [ease]="'easeInSine'">
</ng-progress>
  <div *ngIf = " _fileHashCode  != null" >
    <label for="_fileHashCode">Hash Code : </label> {{ _fileHashCode }}
  </div>

  <div *ngIf = " _fileHashCode  != null" >
      <button type="button" (click)="storeIpfsCode(_fileHashCode)">Send to Block Chain </button>  
  </div>
    
  <div *ngIf = " _txnCode  != null" >
      <label for="_txnCode">Transaction Code : </label> {{ _txnCode }}
  </div>
</div> 
