<div class="container" style="margin-left: 50px; margin-top: 50px">
    <div >
        <p style="font-size: 14px; font-weight:bold; color: rgb(80, 78, 78);">We build a decentralized application an easy way to verify educational certificates – a goal that is achievable only by a community of Universities, Students and Organizations united across the globe.</p>
      </div>
      <br/>
    <div class="card">
        <div class="card-body">
            <div class="card-title">Authorized Institution</div>
          <p class="card-text">Security is the key. Institution's unique Ethereum wallet can be verified by anyone simply by visiting Institution's website</p>
        </div>
      </div>
      <br/>
      <div class="card">
        <div class="card-body">
            <div class="card-title">Issue certificates</div>
          <p class="card-text">When institution issue certificates it stores information with student unique Ethereum wallet* to permanent storage and sends it to smart contract in blockchain. Since Blockchain is decentralized it can't be forged, changed or removed.</p>
        </div>
      </div>
      <br/>
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">Verify certificate</h4>
          <p class="card-text">For anyone who knows student's certificate hash or Ethereum wallet, validation is just a piece of cake. The information on the certificate that has a link to Etherscan (to check transaction status) is just a click away.</p>
        </div>
      </div>

</div>
