<div class="container" style="margin-left: 50px">
    <div class="card-deck" style="margin-top: 150px;">
      <div class="card">
        <div class="card-body text-center">
            <h4 class="card-title">Institutions</h4>
          <p class="card-text">Institutions can put certificates on the blockchain for free, using open-source technology provided</p>
          <button (click)= "onClickMe()" class="std-button">Go</button>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
            <div class="card-title">Graduates</div>
          <p class="card-text">Graduates will prove the authenticity of their certificates and have a way to share it across their network</p>
          <button (click)= "onClickMe()" class="std-button">Go</button>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
            <h4 class="card-title">Recruiters</h4>
          <p class="card-text">Recruiters will verify certificate they've received with single click. No additional validation required</p>
          <button (click)= "onClickMe()" class="std-button">Go</button>
        </div>
        
      </div>
    </div>  
  
  </div>
  